{% comment %} Dropmagic Asset | Version: 1.0.0 {% endcomment %}
<div style="visibility: {%- if cart == empty -%}hidden{%- else -%}visible{%- endif -%};">
  {%- if cart.item_count < 100 -%}
    <span aria-hidden="true">{{ cart.item_count }}</span>
  {%- endif -%}
</div>