{% if block.settings.image != blank %}
  <li
    {{ block.shopify_attributes }}
  >
    <img src="{{ block.settings.image | image_url: width:2000, height: 300 }}" alt="{{ block.settings.image.alt }}">
  </li>
{% endif %}

{% schema %}
{
  "name": "t:general.settings.image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],

  "presets": [
    {
      "name": "t:general.settings.image"
    }
  ]
}
{% endschema %}
