<div class="dbtfy-block___social-media">
  {%- render 'social-icons' -%}
</div>

{% schema %}
{
  "name": "t:settings_schema.social-media.name",
  "settings": [],
  "presets": [
    {
      "name": "t:settings_schema.social-media.name"
    }
  ]
}
{% endschema %}
