<div {{ block.shopify_attributes }} class="dbtfy-shipping-checkpoint-block"></div>

{% schema %}
{
  "name": "t:sections.dbtfy-shipping-checkpoints.name",
  "settings": [],
  "presets": [
    {
      "name": "t:sections.dbtfy-shipping-checkpoints.name"
    }
  ]
}
{% endschema %}
