{%- if request.design_mode -%}
  {%- render 'widget-blocker-warning',
    enabled: settings.dbtfy_shipping_priorities,
    type: 'widget',
    as: 'block',
    name: 'Shipping Priorities',
    id: block
  -%}
{%- endif -%}
{%- if request.design_mode or settings.dbtfy_shipping_priorities -%}
  <dbtfy-shipping-priorities>
    {{ 'dbtfy-shipping-priorities.css' | asset_url | stylesheet_tag }}
    <div class="dbtfy-shipping-priorities">
      <div class="dbtfy-shipping-priorities__row">
        {%- render 'loading-spinner' -%}
        {%- content_for 'blocks' -%}
      </div>
    </div>
    <script src="{{ 'dbtfy-shipping-priorities.js' | asset_url }}" defer></script>
  </dbtfy-shipping-priorities>
{%- endif -%}
{%- schema -%}
{
  "name": "t:sections.dbtfy-shipping-priorities.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-shipping-priorities.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-shipping-priorities.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.professional_info"
    }
  ],
  "blocks": [
    {
      "type": "_shipping-priorities-block"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-shipping-priorities.name"
    }
  ]
}
{%- endschema -%}
