{%- assign image = block.settings.image -%}
<div class="stack-image">
  {%- if image != blank -%}
    {{ image | image_url: width: 1600 | image_tag: class: 'image global-media-radius' }}
  {%- else -%}
    <div class="stack-image__placeholder">
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg w-full h-full object-cover' }}
    </div>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "t:sections.stacked-images-with-text.blocks.stacked_image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:general.settings.image"
    }
  ],
  "presets": [
    {
      "name": "t:sections.stacked-images-with-text.blocks.stacked_image"
    }
  ]
}
{% endschema %}
